.grid {
  display: grid;
  /* // This is bad for tiled thumbnails for now
  // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fill, 256px);
  grid-auto-rows: minmax(256px, auto);
  gap: 16px;
}
